{% extends 'panel/erp/forms.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'lib/select2-4.0/css/select2.min.css' %}" />
<script src="{% static 'lib/select2-4.0/js/select2.min.js' %}"></script>

{% endblock %}

{% block contenido %}

<div class="tile is-ancestor">
    <div class="tile is-parent">
        <div class="tile is-child">
            <div class="card-content mt-4 pr-4">
                <form id="form-0" action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="create-miembro">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="subtitle">{{ form.nombre.label }}:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    {{ form.nombre}}
                                </div>
                                <p class="help ml-2">Requiere su nombre</p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="subtitle">{{ form.centro.label }}:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    {{ form.centro}}
                                </div>
                                <p class="help ml-2">Requiere su Centro que pertence</p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="subtitle">{{ form.pais.label }}:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    {{ form.pais}}
                                </div>
                                <p class="help ml-2">Requiere pais que pertence</p>
                            </div>
                        </div>
                    </div>
                    <hr style="margin-left: 0;margin-right: 0;">
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <!-- Creando Espacio -->
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button type="submit" class="button is-primary">
                                            <span><i class="fas fa-save"></i> Guardar</span>
                                        </button>
                                    </div>
                                    <div class="control">
                                        <a href="{% url 'list_participantes' %}" class="button is-danger is-outlined">
                                            <span><i class="fas fa-times"></i> Cancelar</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

<script>
    let input = document.getElementsByTagName('input');
    input.nombre.classList.add('input');
    input.nombre.placeholder = 'Ingrese nombre del Participante';

    input.centro.classList.add('input');
    input.centro.placeholder = 'Ingrese nombre del Centro que pertenece';

    input.pais.classList.add('input');
    input.pais.placeholder = 'Ingrese pais que pertence';


    {% if form.errors %}

    var errors = '';
    {% for field in form %}

    {% for error in field.errors %}

    errors += '{{ error }}\n';

    {% endfor %}
    {% endfor %}

    {% for error in form.non_field_errors %}
    errors += '{{ error }}\n';

    {% endfor %}

    Swal.fire({
        title: 'Error!',
        text: errors,
        icon: 'error'
    });
    {% endif %}

</script>
{% endblock %}