{% load static %}

<nav id="navbar-main" class="navbar is-fixed-top">
    <div class="navbar-brand">
      <a class="navbar-item is-hidden-desktop jb-aside-mobile-toggle" id="btn-navleft">
        <span class="icon"><i class="fas fa-align-justify"></i></span>
      </a>
    </div>
    <div class="navbar-brand is-right mr-4">
      <a class="navbar-item is-hidden-desktop jb-navbar-menu-toggle" data-target="navbar-menu" id="btn-navbar-menu">
        <span class="icon"><i class="fas fa-server"></i></span>
      </a>
    </div>
    <div class="navbar-menu fadeIn animated faster" id="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown has-dropdown-with-icons has-divider has-user-avatar is-hoverable">
          <a class="navbar-link is-arrowless">
            <div class="is-user-avatar">
              <img src="{{ request.user.get_imagen }}" alt="Imagen User">
            </div>
            <div class="is-user-name"><span>{{ request.user }}</span></div>
            <span class="icon"><i class="fas fa-angle-down"></i></span>
          </a>
          <div class="navbar-dropdown">
            <a href="{% url 'edit_perfil' %}" class="navbar-item">
              <span class="icon"><i class="fas fa-user-cog"></i></span>
              <span>Mi Usuario</span>
            </a>
            <a href="{% url 'edit_psw' %}" class="navbar-item">
              <span class="icon"><i class="fas fa-lock"></i></span>
              <span>Contraseña</span>
            </a>
            <!-- <a class="navbar-item">
              <span class="icon"><i class="fas fa-tools"></i></span>
              <span>Configuración</span>
            </a> -->
            {% if request.user.miembro_id is not None %}
            <a href="{% url 'perfil_miembros' %}" class="navbar-item">
              <span class="icon"><i class="fas fa-user"></i></span>
              <span>Perfil Miembro</span>
            </a>
            {% endif %}
            
          </div>
        </div>
        <div id="btn-info" class="navbar-item has-divider is-desktop-icon-only" style="margin: 0;padding:0;">
          <span class="icon"><i class="fas fa-question-circle"></i></span>
          <span>Información</span>
          <div class="container" id="tooltip">
            <div class="content" id="tooltipinfo">
              <h6 id="text-t">Desarrollado por:</h6>
              <p id="text-p">Mario Sergio Hidalgo Rodriguez</p>
              <h6>Correo:</h6>
              <p>marito.hidalgo94@gmail.com</p>
              <p id="span">2021-2022</p>
            </div>
          </div>
          <script type="text/javascript">
              let btn = document.querySelector("#btn-info");
              let tooltip = document.querySelector("#tooltip");
              btn.onmouseover = function(){
                tooltip.style.display  = "block"
              }
              btn.onmouseout = function(){
                tooltip.style.display  = "None"
              }
          </script>
        </div>
        <a href="{% url 'logout' %}" title="Log out" class="navbar-item is-desktop-icon-only">
          <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
          <span>Salir</span>
        </a>
      </div>
    </div>
  </nav>