{% extends 'web/navbar-body.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'lib/datatables-1.10/plugins/bulma/dataTables.bulma.min.css' %}" />
<script src="{% static 'lib/datatables-1.10/plugins/bulma/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10/plugins/bulma/dataTables.bulma.min.js' %}"></script>
{% endblock %}
{% block contenido_agregados %}
<section class="wow animate__animated animate__fadeIn content has-background-white mt-6">
    <h1 class="wow animate__animated animate__fadeInDown title is-1 center mb-4">{{ titulo_page }}</h1>
    <hr>
        <div class="card-content pl-4 pt-4 pr-4 pb-4">
            <div class="table-wrapper has-mobile-cards">
                <table class="table is-bordered is-fullwidth is-striped is-hoverable is-fullwidth" id="dtable">
                    <thead>
                        
                        <tr>
                            <!-- <th width="5%">id</th> -->
                            <th width="80%" class="has-text-centered">{{ titulo_page }}</th>
                            <th width="10%" class="has-text-centered">Año:</th>
                            <th width="10%">Archivo</th>
                        </tr>
        
                    </thead>
        
                    <tbody>
                        {% for m in art_arbitrajes %}
                        <tr>
                            <td class="has-text-justified"> <p class="is-size-6 pl-0 pb-0 mb-0">{{ m.texto }}</p>{% if m.invest %} <p class="is-size-6 pl-0 pt-0 mt-0"><strong>Proyecto:</strong> <a  href="/investigaciones/{{m.invest.cat.nombre}}/{{m.invest.id}}/">{{m.invest}}</a> {% endif %}</p></td>
                            <td class="has-text-justified"> {{ m.anio }}</td>
                            {% if m.doc %}
                            <td><a href="{{ m.doc }}" target="_blank" class="center"><span class="icon is-medium fas fa-file-download"></span></a></td>
                            {% else %}
                            <td><a  class="center"><span class="icon is-medium has-text-danger fas fa-file-excel"></span></a></td>

                            {% endif %}
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                        
                </table>
               
            </div>
    </div>
        

</section>

{% block javascript %}
<script type="text/javascript">

$(function (){
    $('#dtable').DataTable({
    responsive: true,
    autoWidth: false,
    destroy: true,
    deferRender: true,
    order:[[1,'desc']],
    "language": {
            "sProcessing":     "Procesando...",
                        "sLengthMenu":     "Mostrar _MENU_ registros",
                        "sZeroRecords":    "No se encontraron resultados",
                        "sEmptyTable":     "Ningún dato disponible en esta tabla =(",
                        "sInfo":           "Mostrando un total: _TOTAL_",
                        "sInfoEmpty":      "Mostrando un total 0",
                        "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix":    "",
                        "sSearch":         "Buscar:",
                        "sUrl":            "",
                        "sInfoThousands":  ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst":    "Primero",
                            "sLast":     "Último",
                            "sNext":     "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        },
                        "buttons": {
                            "copy": "Copiar",
                            "colvis": "Visibilidad"
                        }
        },
    });

});

</script>
{% endblock %}
{% endblock %}