{% extends 'panel/erp/forms.html' %}
{% load static %}


{% block contenido %}

<div class="tile is-ancestor">
    <div class="tile is-parent">
        <div class="tile is-child">
            <div class="card-content mt-4 pr-4">
                <form id="form-0" action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="subtitle">Fecha:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    {{ form.fecha}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="subtitle">Variable:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    {{ form.variable}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="subtitle">Nombre:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    {{ form.nombre}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="subtitle">Tipo:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <div class="select">
                                        {{ form.tipo}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="subtitle">Valor:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    {{ form.valor}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="subtitle">Unidad Medida:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    {{ form.unidad_medida }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="margin-left: 0;margin-right: 0;">
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <!-- Creando Espacio -->
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button type="submit" class="button is-primary">
                                            <span><i class="fas fa-save"></i> Guardar</span>
                                        </button>
                                    </div>
                                    <div class="control">
                                        <a href="{% url 'list_met_historicos' %}" class="button is-danger is-outlined">
                                            <span><i class="fas fa-times"></i> Cancelar</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}