{% load static %}


<section class="section has-background-white">
    <h1 class="wow animate__animated animate__fadeInUp title is-1 center mb-5">Areas de Investigación</h1>
    <div class="wow animate__animated animate__fadeInUp container" data-wow-duration="1s">
        <div class="columns">
            <div class="column">
                <div class="center" id="div-icon">
                    <span class="center" id="icono"><i class="fa fa-sun has-text-white  "></i></span>
                </div>
                <h1 class="title center mt-2">Radiación Solar</h1>
                <p class="has-text-justified mt-4 mb-4">El equipo del GOAC trabaja en la adecuación de los modelos numéricos que simulan los procesos de transferencia radiativa de la radiación solar en la atmósfera terrestre a las condiciones locales existentes en Camagüey y Cuba. También realizamos el rescate de datos de la serie de más de 40 años de mediciones de radiación solar de la Estación Actinométrica de Camagüey y estamos comprometidos en el rescate de la larga serie de mediciones de las otras tres estaciones actinométricas del país. Como resultado de la continuación del rescate de datos de las observaciones actuales hemos implementado el Servicio de Diagnóstico de la Radiación Solar en Camagüey, que también prevemos extender al resto de la estación actinométrica del país.</p>
            </div>

            <div class="column">
                <div class="center" id="div-icon">
                    <span class="center" id="icono"><i class="fa fa-spinner has-text-white  "></i></span>
                </div>
                <h1 class="title center mt-2">Aerosoles</h1>

                <p class="has-text-justified">Durante la última década, GOAC ha estado midiendo las propiedades ópticas de los aerosoles utilizando un fotómetro solar de última generación, contribuyendo a RIMA y AERONET. También utilizamos profundidad óptica de aerosoles de banda ancha (BAOD), derivada de las mediciones de radiación directa en las estaciones actinométricas del país para caracterizar las tendencias a largo plazo de los aerosoles. Caracterizamos los tipos de aerosoles locales y realizamos estudios de casos. Se dedicará un esfuerzo especial a caracterizar el polvo sahariano que llega a Cuba después de su transporte a través del Atlántico.</p>

            </div>
            <div class="column">
                <div class="center" id="div-icon">
                    <span class="center" id="icono"><i class="fa fa-cloud has-text-white  "></i></span>
                </div>
                <h1 class="title center mt-2">Nubes</h1>
                <p class="has-text-justified">Las nubes juegan el papel principal entre todos los componentes atmosféricos en la regulación de la cantidad de radiación solar que llega a la superficie terrestre. El GOAC realizó estudios sobre las características de las nubes cirros en nuestra región utilizando mediciones de instrumentos lidar y satelitales terrestres. También se ha estudiado su impacto radiactivo. Se prevé realizar investigaciones futuras para cuantificar el forzamiento radiactivo de otros tipos de nubes.</p>
            </div>
        </div>
    </div>

</section>