{% load static %}

<!-- Footer -->
<footer class="hero has-background-dark" style="bottom: 0;margin: 0;">

    <div class="content">
        <div class="block">
            <a href="#btn-menu" id="scroll-up" class="center has-background-dark"><i class="fas fa-angle-double-up  mt-2" style="visibility: visible; animation-duration: 2s; animation-name: flash;margin: 0 auto;"></i></a>
        </div>
        <p class="has-text-centered has-text-white pb-2 mb-0">{{ modelo.footer_copyright | safe}}
        </p>
        <p class="has-text-centered has-text-white pb-2 pt-0 mt-0">Centro Meteorológico Provincial de Camagüey </p>
    </div>
</footer>