{% load static %}

<section class="wow animate__animated animate__fadeIn" id="header"
    style="background: url({{ modelo.img_banner.url }}) no-repeat center/cover;">
    <section>
        <nav class="navbar is-fixed-top is-spaced" id="bar-nav">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'portada' %}">
                    <img class="ml-6" src="{{ modelo.logo.url }}" alt="logotipo" width="140" height="40"
                        style="background: none;">
                </a>
                <div class="navbar-burger has-text-white" id="btn-burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            {% include 'web/nav-bar.html' %}

        </nav>
        </div>
        <div id="bg-text" class="is-overlay has-text-centered has-text-black">
            <h1 class="title is-1 has-text-light pt-3" id="title-page">{{ modelo.titulo_banner }}</h1>
            <h2 class="subtitle has-text-light mt-2" id="frase">"{{modelo.frase}}"</h2>
        </div>
    </section>
</section>