{% extends 'panel/erp/tables.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet"
	href="{% static 'lib/datatables-1.10/plugins/bulma/dataTables.bulma.min.css' %}" />
<script src="{% static 'lib/datatables-1.10/plugins/bulma/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10/plugins/bulma/dataTables.bulma.min.js' %}"></script>

{% endblock %}

{% block columns %}
	<tr>
		<th width="5%">id</th>
		<th width="40%">Título</th>
		<th width="20%">Categoria</th>
		<th width="20%">Miembro</th>
		<th width="5%">doc</th>
		<th width="15%">Opciones</th>
	</tr>
{% endblock %}

{% block rows %}
	
{% endblock %}

{% block botones %}
<div class="field">
	<div class="field is-grouped">
	  <div class="control">
		<a href="{% url 'create_investigaciones' %}" type="submit" class="button is-primary">
		  <span><i class="fas fa-plus"></i> Crear Investigación</span>
		</a>
	  </div>
	  <div class="control">
		<button type="button" id="update" class="button is-success is-outlined">
		  <span><i class="fas fa-redo-alt"></i> Actualizar</span>
		</button>
	  </div>
	</div>
</div>
<hr>
<div class="notification is-link">
	<div class="level">
	  <div class="level-left">
		<div class="level-item">
		  <div>
			<span class="icon"><i class="mdi mdi-buffer default"></i></span>
			<b>Click al Botón Categorias para mostrar panel de categorías</b>
		  </div>
		</div>
	  </div>
	  <div class="level-right">
		<a href="{% url 'list_categorias' %}" type="button" class="button is-small is-white">Categorías</a>
	</div>
</div>

{% endblock %}

{% block javascript %}

<!-- Funciones Investigaciones -->
<script src="{% static 'panel/js/investigaciones/investigaciones_fun.js' %}"></script>

{% endblock %}