{% load static %}

<div class="content tile is-child" id="div-ult30dias">
    {% if request.user.is_authenticated %}
    <div class="columns is-centered mt-2 pt-2">
        <form id="graficos_mes" action="." method="POST">
            <input type="hidden" name="accion" value="buscar_gmes">
            <div class="center pl-2">
                <div class="field has-addons center">
                    <div class="control">
                        <div class="select is-small">
                            <select name="mes" id="select_mes">
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                    </div>
                    <div class="control ">
                        <div class="select is-small">
                            <select name="anio" id ="select_anio">
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021" selected>2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <option value="2029">2029</option>
                                <option value="2030">2030</option>
                                <option value="2031">2031</option>
                            </select>
                        </div>
                    </div>
                    <div class="control ">
                        <button id="buscar_gmensual" class="button is-info is-small ml-0" type="submit"><i  class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {% endif %}
    <div class="section pt-3 mt-2">

        <div class="pt-3 mt-2">
        <div id="mescmw"></div>
        </div>
        <div class="pt-3 mt-2">
            <div id="mesjvn"></div>
        </div>
        <div class="pt-3 mt-2">
            <div id="meslfe"></div>
        </div>

        <div class="pt-3 mt-2">
            <div id="mestcp"></div>
        </div>

    </div>
</div>

<script src="{% static 'js/servicios/seoc/fun_mensual.js' %}"></script>