{% extends 'panel/erp/forms.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'lib/select2-4.0/css/select2.min.css' %}" />
<script src="{% static 'lib/select2-4.0/js/select2.min.js' %}"></script>
<!-- static de modal bulma -->
<link rel="stylesheet" href="{% static 'css/modal-fx.min.css' %}" />
<script src="{% static 'js/modal-fx.min.js' %}"></script>

{% endblock %}

{% block contenido %}

<div class="tile is-ancestor">
    <div class="tile is-parent">
        <div class="card tile is-child">
            <div class="card-content mt-4 pr-4">
                <form id="form-0" action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="create-miembro">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="subtitle">{{ form.texto.label }}:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    {{ form.texto}}
                                </div>
                                <p class="help ml-2">Requiere Texto</p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="subtitle">Documento:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    {{ form.doc}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="subtitle">{{ form.miembro.label }}:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="select is-multiple" style="width: 650px;">
                                    {{ form.miembro}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if request.user.is_superuser %}
                    <div class="field is-horizontal">
                        <div class="field-label is-normal ">
                            <label class="subtitle">Publicar:</label>
                        </div>
                        <div class="field-body">
                            <div class="field has-addons">
                                <label class="switch is-rounded pt-2">
                                    {{ form.estado}}
                                    <span class="check"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </div>
    </div>
</div>
<hr>
<div class="field is-horizontal">
    <div class="field-label">
        <!-- Creando Espacio -->
    </div>
    <div class="field-body">
        <div class="field">
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button is-primary">
                        <span><i class="fas fa-plus"></i> Guardar Nuevo</span>
                    </button>
                </div>
                <div class="control">
                    <a href="{% url 'list_reportes' %}" class="button is-danger is-outlined">
                        <span><i class="fas fa-times"></i> Cancelar</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $('.select2').select2({
        placeholder: 'Seleccione miembro relacionado',
        width: '100%',
    });
</script>

{% endblock %}