{% extends 'web/navbar-body.html' %}
{% load static %}

{% block contenido_agregados %}
<section class="wow animate__animated animate__fadeIn content has-background-white mt-6">
    <h1 class="wow animate__animated animate__fadeInDown title is-1 center mb-4">{{ titulo_page }}</h1>

    <div class="tabs is-centered is-boxed">
        <ul class="tabs-list">
          <li id="li-activos" class="is-active "><a><b>Activos</b></a></li>
          <li id="li-precedente"><a><b>Precedentes</b></a></li>
          <li id="li-colaborador"><a><b>Colaborador</b></a></li>
        </ul>
      </div>
    <div class="container is-centered mt-3" id="div-activos">
            
        {% for m in activos %}
            <div class="wow animate__animated animate__fadeInLeft box">
                <article class="media">
                    <div class="media-left">
                      <figure class="image is-128x128">
                        <img src="{{m.get_imagen}}" alt="Image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>{{m.full_name}}</strong> {% if m.ocupacion and not None %}- <small>{{m.ocupacion}}</small> {% endif %}
                          <br>
                          <small class="has-text-link">{{m.correo}}</small>
                          <br>
                          {{m.biografia}}
                        </p>
                      </div>
                      <nav class="level is-mobile">
                        <div class="level-left">
                          
                          
                        </div>
                        <div class="level-right">
                            {% if m.curriculo %}
                            <a href="{{m.curriculo.url}}" class="level-item" aria-label="like">
                                <span class="icon is-small">
                                  <i class="fas fa-file" aria-hidden="true"></i>
                                </span>
                              </a>
                            {% endif %}
                            <a href="{% url 'perfil_miembros' m.id %}" class="level-item" aria-label="like">
                                Leer mas
                            </a>
                        </div>
                      </nav>
                    </div>
                </article>
          </div>
        {% endfor %}
        
    </div>
    <div class="container is-centered mt-3" id="div-precedentes" style="display: none;">
            
        {% for m in precedentes %}
            <div class="box">
                <article class="media">
                    <div class="media-left">
                      <figure class="image is-128x128">
                        <img src="{{m.get_imagen}}" alt="Image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>{{m.full_name}}</strong> - <small>{{m.ocupacion}}</small>
                          <br>
                          <small class="has-text-link">{{m.correo}}</small>
                          <br>
                          {{m.biografia}}
                        </p>
                      </div>
                      <nav class="level is-mobile">
                        <div class="level-left">
                          
                          
                        </div>
                        <div class="level-right">
                            {% if m.curriculo %}
                            <a href="{{m.curriculo.url}}" class="level-item" aria-label="like">
                                <span class="icon is-small">
                                  <i class="fas fa-file" aria-hidden="true"></i>
                                </span>
                              </a>
                            {% endif %}
                            <a href="{% url 'perfil_miembros' m.id %}" class="level-item" aria-label="like">
                                Leer mas
                            </a>
                        </div>
                      </nav>
                    </div>
                </article>
          </div>
        {% endfor %}
        
    </div>
    <div class="container is-centered mt-3" id="div-colaborador" style="display: none;">
            
        {% for m in colaboradores %}
            <div class="box">
                <article class="media">
                    <div class="media-left">
                      <figure class="image is-128x128">
                        <img src="{{m.get_imagen}}" alt="Image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>{{m.full_name}}</strong> - <small>{{m.ocupacion}}</small>
                          <br>
                          <small class="has-text-link">{{m.correo}}</small>
                          <br>
                          {{m.biografia}}
                        </p>
                      </div>
                      <nav class="level is-mobile">
                        <div class="level-left">
                          
                          
                        </div>
                        <div class="level-right">
                            {% if m.curriculo %}
                            <a href="{{m.curriculo.url}}" class="level-item" aria-label="like">
                                <span class="icon is-small">
                                  <i class="fas fa-file" aria-hidden="true"></i>
                                </span>
                              </a>
                            {% endif %}
                            <a href="{% url 'perfil_miembros' m.id %}" class="level-item" aria-label="like">
                                Leer mas
                            </a>
                        </div>
                      </nav>
                    </div>
                </article>
          </div>
        {% endfor %}
        
    </div>

</section>

<script type="text/javascript">
    // Selectores de pestanas - tabs
    let liActivos = document.querySelector("#li-activos");
    let liPrecedentes = document.querySelector('#li-precedente');
    let liColaborador = document.querySelector('#li-colaborador');

    liActivos.onclick= (e) =>{
      if (document.querySelector("li.is-active") !== null){
        document.querySelector("li.is-active").classList.remove('is-active');
      }
      liActivos.className= "is-active";
      document.querySelector("#div-activos").style.display="block";
      document.querySelector("#div-precedentes").style.display="none";
      document.querySelector("#div-colaborador").style.display="none";
    }
    
    liPrecedentes.onclick=(e)=>{
      if (document.querySelector("li.is-active") !== null){
        document.querySelector("li.is-active").classList.remove('is-active');
      }
      liPrecedentes.className = "is-active";
      document.querySelector("#div-activos").style.display="none";
      document.querySelector("#div-precedentes").style.display="block";
      document.querySelector("#div-colaborador").style.display="none";
    }
    liColaborador.onclick=(e)=>{
      if (document.querySelector("li.is-active") !== null){
        document.querySelector("li.is-active").classList.remove('is-active');
      }
      liColaborador.className = "is-active";
      document.querySelector("#div-activos").style.display="none";
      document.querySelector("#div-precedentes").style.display="none";
      document.querySelector("#div-colaborador").style.display="block";
    }
    


</script>

{% endblock %}
