{% extends 'panel/erp/forms.html' %}
{% load static %}

{% block contenido %}

<form action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="subtitle has-text- has-text-center">{{ form.codigo.label}}</label>
        </div>
        <div class="field-body">
            <div class="field">
                {{ form.codigo}}
            </div>
            <div class="field">
                <div class="field file">
                    <label class="subtitle has-text-left pt-2 mr-2 ml-2">Imagen:</label>
                    <label class="upload control">
                        <a class="button is-primary">
                            <span class="icon"><i class="fas fa-upload"></i></span>
                            {{ form.imagen}}Selecione la imagen
                        </a>
                    </label>
                </div>
            </div>

        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="subtitle has-text- has-text-center">Tipo:</label>
        </div>
        <div class="field-body">
            <div class="field">
                {{ form.tipo}}
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="subtitle has-text-ghost has-text-center"> {{ form.estacion.label}}</label>
        </div>
        <div class="field-body">
            <div class="field">
                {{ form.estacion }}

                </p>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="subtitle has-text-ghost has-text-center"> {{ form.provincia.label}}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p>
                    {{ form.provincia }}
                </p>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="subtitle has-text-ghost has-text-center"> {{ form.longitud.label}}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p>
                    {{ form.longitud }}
                </p>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="subtitle has-text-ghost has-text-center"> {{ form.latitud.label}}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p>
                    {{ form.latitud }}
                </p>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="subtitle has-text-ghost has-text-center"> {{ form.altura.label}}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p>
                    {{ form.altura }}
                </p>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="subtitle has-text-ghost has-text-center"> Estado: </label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="select">
                    {{ form.estado }}
                </p>
            </div>
        </div>
    </div>


    </div>
    <hr style="margin-left: 0;margin-right: 0;">
    
    <div class="field is-horizontal pb-4">
        <div class="field-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
            <div class="field-right">
                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-primary">
                            <span><i class="fas fa-plus"></i> Guardar Nuevo</span>
                        </button>
                    </div>
                    <div class="control">
                        <a href="{% url 'control_estaciones' %}" class="button is-danger is-outlined">
                            <span><i class="fas fa-times"></i> Cancelar</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>


{% endblock %}

{% block javascript %}

{% endblock %}