{% load static %}

<!DOCTYPE html>
<html lang="es-es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="GOAC, lidar, atmosferica, radiativa, aerosoles, nubes, radiacion solar,">
    <meta name="description"
        content="GOAC - Grupo de Óptica Atmosférica de Camagüey. El estudio de los procesos de transferencia radiativa en la atmósfera para las condiciones de Cuba">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,700;1,300&display=swap"
        rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/hero.css' %}">
    <!-- font awesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'lib/fontawesome/css/all.min.css' %}">
    <script src="{% static 'lib/fontawesome/js/all.min.js' %}"></script>
    <title>GOAC | 500</title>
</head>

<body>
    <section class="section has-background-grey" style="height: 100vh;">
        <div class="hero has-background-grey-light" style="max-width: 550px;margin: 0 auto;border-radius: 10px;border: 1px solid darkslategrey;">
            <div class="hero-body pt-4 pb-4">
                <div class="columns">
                    <div class="column is-4 has-text-centered pb-0 pt-0">
                        <h1 style="font-size: 100px;color: #dc3545;">500</h1>
                    </div>
                    <div class="column is-8" style="margin: 0 auto;">
                        <div class="block">
                            <div class="content mb-0 pb-0">
                                <h1 class="mb-1 pb-1" style="color: darkslategrey;"><i class="fas fa-exclamation-triangle is-size-3" style="color: #dc3545;"></i> Error Servidor</h1>
                            </div>
                            <p style="color:darkslategrey;font-size: 1.25rem;padding-left: 5px;">Oops! Algo salió mal.</p>
                            <p class="mt-0 pt-0"  style="color: darkslategrey;font-size: 1.25rem;text-align: justify;">Lo arreglaremos de inmediato. Mientras tantos puede <a href="/" class="is-primary">volver a inicio</a></p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
</body>

</html>