{% extends 'web/navbar-body.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'lib/datatables-1.10/plugins/bulma/dataTables.bulma.min.css' %}" />
<script src="{% static 'lib/datatables-1.10/plugins/bulma/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10/plugins/bulma/dataTables.bulma.min.js' %}"></script>

{% endblock %}

{% block contenido_agregados %}
<section class="wow animate__animated animate__fadeInUp section has-background-white">
  <h1 class="title is-1 center mb-4">{{ titulo_page }}</h1>
  <div class=" wow animate__animated animate__fadeInUp">
    <div class="container">

      <div class="content article-body">
        <h1 class="title is-2 center">{{ object.titulo }}</h1>
        <h3 class="subtitle has-text-dark-light center">{{ object.fecha_inicio }} -- {{ object.fecha_culmina }}
        </h3>

        <!-- Pestaña -->
        <div class="tabs is-centered is-boxed">
          <ul>
            <li class="is-active pr-1" id="taller">
              <a>
                <span class="icon is-small"><i class="fas fa-wrench"></i></span>
                <span>Taller</span>
              </a>
            </li>
            <li class="pr-1" id="programas">
              <a>
                <span class="icon is-small"><i class="fas fa-calendar-alt"></i></span>
                <span>Programas</span>
              </a>
            </li>
            <li class="pr-1" id="resumenes">
              <a>
                <span class="icon is-small"><i class="fas fa-clipboard-check"></i></span>
                {% if object.resumen.count > 0 %}
                <span>Resumenes</span>
                {% else %}
                <span>Resumen</span>

                {% endif %}
              </a>
            </li>
            <li class="pr-1" id="participantes">
              <a>
                <span class="icon is-small"><i class="fas fa-user-friends"></i></span>
                <span>Participantes</span>
              </a>
            </li>
          </ul>
        </div>

        <!-- Pestaña Taller -->
        <div class="container tile is-child" id="div-taller">
          <div class="card-content pr-4">
            <div class="container">
              {% if object.genesis %}
              <p class="has-text-justified">{{ object.genesis | safe }}
                {% else %}
              <h2 class="subtitle">No existen datos</h2>
              {% endif %}
              </p>
            </div>
          </div>
        </div>

        <!-- Pestaña de Programas -->
        <div class="container tile is-child" id="div-prog">
          <div class="content pt-4 pl-4">
            {% if object.programa %}
            <p class="has-text-justified">{{ object.programa | safe }}</p>
            {% else %}
            <h2 class="subtitle">No existen datos</h2>
            {% endif %}
          </div>
        </div>

        <!-- Pestaña Resumenes -->
        <div class="container tile is-child" id="div-resumenes">
          <div class="content pt-4 pl-4">
            <p class="has-text-justified center">
              {% if resumenes.count %}
              {% for i in resumenes.all %}
              <div class="block mt-4">
                <h1 class="title">{{ i.titulo }}</h1>
                {{ i.resumen | safe |truncatechars:650}}
                
            </div>
            <div class="level">
              <div class="level-left">
              </div>
              <div class="level-right">
                <a href="{% url 'detalles_resumenes_talleres' i.id %}" class="button is-normal is-info is-outlined">Leer Resumen</a>
              </div>
            </div>
            <hr>
            {% endfor %}
            {% else %}
            <h2 class="subtitle">No existen datos de resumenes</h2>
            {% endif %}
            </p>
          </div>
        </div>

        <!-- Pestaña Participantes -->
        <div class="container tile is-child" id="div-participantes">
            <div class="table-wrapper has-mobile-cards">
              <table class="table is-bordered is-fullwidth is-striped is-hoverable is-fullwidth" id="dtable">
                <thead>
                  <tr>
                    <th width="40%"><b>Nombre</b></th>
                    <th width="40%" class="has-text-centered"><b>Centro que Pertenece</b></th>
                    <th width="20%" class="has-text-centered"><b>País</b></th>
                  </tr>
                </thead>
                <tbody>
                  {% for m in object.participantes.all %}
                  <tr>
                    <td class="has-text-left"> {{ m.nombre }}</td>
                    <td class="has-text-left">{{ m.centro }}</td>
                    <td class="has-text-centered">{{ m.pais }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>

</section>

{% endblock %}

{% block javascript %}
<script type="text/javascript">


  $("#div-taller").show();
  $("#div-prog").hide();
  $("#div-resumenes").hide();
  $("#div-participantes").hide();

  $('#taller').on('click', function () {
    $('li').removeClass('is-active');
    $(this).addClass('is-active')
    $("#div-prog").hide();
    $("#div-resumenes").hide();
    $("#div-participantes").hide();
    $("#div-taller").show();
  });
  $('#programas').on('click', function () {
    $('li').removeClass('is-active');
    $(this).addClass('is-active')

    $("#div-resumenes").hide();
    $("#div-participantes").hide();
    $("#div-taller").hide();
    $("#div-prog").show();

  });
  $('#resumenes').on('click', function () {
    $('li').removeClass('is-active');
    $(this).addClass('is-active')

    $("#div-taller").hide();
    $("#div-participantes").hide();
    $("#div-prog").hide();
    $("#div-resumenes").show();
  });
  $('#participantes').on('click', function () {
    $('li').removeClass('is-active');
    $(this).addClass('is-active')

    $("#div-taller").hide();
    $("#div-resumenes").hide();
    $("#div-prog").hide();
    $("#div-participantes").show();
  });

  $('#dtable').DataTable({
    responsive: true,
    autoWidth: false,
    destroy: true,
    deferRender: true,
    "language": {
      "sProcessing": "Procesando...",
      "sLengthMenu": "Mostrar _MENU_ registros",
      "sZeroRecords": "No se encontraron resultados",
      "sEmptyTable": "Ningún dato disponible en esta tabla =(",
      "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
      "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
      "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
      "sInfoPostFix": "",
      "sSearch": "Buscar:",
      "sUrl": "",
      "sInfoThousands": ",",
      "sLoadingRecords": "Cargando...",
      "oPaginate": {
        "sFirst": "Primero",
        "sLast": "Último",
        "sNext": "Siguiente",
        "sPrevious": "Anterior"
      },
      "oAria": {
        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      },
      "buttons": {
        "copy": "Copiar",
        "colvis": "Visibilidad"
      }
    },
  });

</script>

{% endblock %}