{% extends 'panel/erp/tables.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'lib/datatables-1.10/plugins/bulma/dataTables.bulma.min.css' %}" />
<script src="{% static 'lib/datatables-1.10/plugins/bulma/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10/plugins/bulma/dataTables.bulma.min.js' %}"></script>
<!-- static de modal bulma -->
<link rel="stylesheet" href="{% static 'css/modal-fx.min.css' %}" />
<script src="{% static 'js/modal-fx.min.js' %}"></script>

{% endblock %}

{% block columns %}
	<tr>
		<th width="5%">id</th>
		<th width="80%">Categorías</th>
		<th width="15%">Opciones</th>
	</tr>
{% endblock %}

{% block rows %}
	<tr>
		{% for rows in object %}
		<td> {{ rows.id }}</td>
		<td>{{ rows.nombre }}</td>
		<td>
			<div class="image">
				<img src="{{ rows.imagen }}" class="is-rounded">
			  </div>
		</td>
		<td >{{ rows.desc }}</td>
		<td class="is-actions-cell">
			<div class="buttons is-right">
				<button class="button is-small is-warning" type="button">
					<span class="icon"><i class="fas fa-edit"></i></span>
				</button>
				<button class="button is-small is-danger center" type="button">
					<span class="icon"><i class="fas fa-trash"></i></span>
				</button>
			</div>
		</td>
	</tr>
	{% endfor %}
{% endblock %}

{% block botones %}
<div class="field">
	<div class="field is-grouped">
	  <div class="control">
			<button type="button" class="button is-info" id="add-categoria">
			<span><i class="fas fa-plus"></i> Agregar Investigaciones</span>
			</button>
	  </div>
	  <div class="control">
		<a href="{% url 'list_investigaciones' %}" class="button is-link is-outlined">
		  <span><i class="fas fa-reply"></i> Regresar</span>
		</a>
	  </div>
	  <div class="control">
		<button type="button" id="update" class="button is-success is-outlined">
		  <span><i class="fas fa-redo-alt"></i> Actualizar</span>
		</button>
	  </div>
	</div>
</div>


 <!-- Modal para agregar categorias -->
<div class="modal modal-fx-fadeInScale" id="modal-categoriainv">
    <div class="modal-content is-medium">
        <form action="." method="POST" id="form-1">
            {% csrf_token %}
            <input type="hidden" name="action" value="create-catinvest">
            <input type="hidden" name="id" value="">
            <header class="modal-card-head has-background-info">
                <p class="modal-card-title has-text-black">
                    <span class="subtitle has-text-white" id="title-modal"><i class="fas fa-plus mr-1"></i>Agregar Categoría</span>
                </p>
                <button type="button" id="modal-close" class="modal-close is-large"></button>
            </header>
            <section class="modal-card-body has-background-white-ter has-text-black">
                <!-- Content ... -->
                <div class="field">
                    <div class="control  mr-2">
                        <label class="label is-center is-normal">Nueva Categoría:</label>
                        {{ modal.nombre }}
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot has-background-grey-lighter">
                <div class="level">
                    <div class="level-right">
                        <button type="submit" class="button is-primary"><i class="fas fa-save mr-1"></i>
                            Agregar</button>
                    </div>
                </div>
            </footer>
        </form>
    </div>
</div>

{% endblock %}

{% block javascript %}

<!-- Funciones Categorias de  Investigaciones -->
<script src="{% static 'panel/js/investigaciones/categorias/categorias_fun.js' %}"></script>

{% endblock %}