{% extends 'panel/erp/tables.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'lib/datatables-1.10/plugins/bulma/dataTables.bulma.min.css' %}" />
<script src="{% static 'lib/datatables-1.10/plugins/bulma/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10/plugins/bulma/dataTables.bulma.min.js' %}"></script>
<!-- static de modal bulma -->
<link rel="stylesheet" href="{% static 'css/modal-fx.min.css' %}" />
<script src="{% static 'js/modal-fx.min.js' %}"></script>

{% endblock %}

{% block columns %}
<tr>
	<th width="5%">id</th>
	<th width="25%">Nombre</th>
	<th width="20%">Título</th>
	<th width="20%">Correo</th>
	<th width="10%">Opciones</th>
</tr>
{% endblock %}

{% block rows %}
<tr>
	{% for rows in object %}
	<td> {{ rows.id }}</td>
	<td>{{ rows.nombre }}</td>
	<td>{{ rows.apellidos }}</td>
	<td>{{ rows.correo }}</td>
	<td>{{ rows.mensaje }}</td>
	<td class="is-actions-cell">
		<div class="buttons is-right">
			<button class="button is-small is-warning" type="button">
				<span class="icon"><i class="fas fa-edit"></i></span>
			</button>
			<button class="button is-small is-danger center" type="button">
				<span class="icon"><i class="fas fa-trash"></i></span>
			</button>
		</div>
	</td>
</tr>
{% endfor %}
{% endblock %}

{% block modal %}

<!-- Modal para Mostrar Detalles Contacto -->
<div class="modal modal-fx-fadeInScale" id="modal-scientifica">
    <div class="modal-background"></div>
	<div class="modal-content">
		<header class="modal-card-head has-background-info">
			<p class="modal-card-title has-text-black">
				<span class="subtitle has-text-white"><i class="fas fa-clipboard-check mr-1"></i>Información
					Contacto</span>
			</p>
			<button type="button" id="modal-close" class="modal-close"></button>
		</header>
		<section class="modal-card-body has-background-white-ter has-text-black">
			<!-- Nombre ... -->
			<span class="subtitle has-text-grey mb-5 mr-1">Nombre:</i></span>
			<span id="nombre" class="subtitle"></span><br>
			<!-- Correo -->
			<span class="subtitle has-text-grey mb-2 mr-1">Correo:</span><span class="subtitle is-5 mb-2" id="correo"></span><br>
			<!-- Titulo -->
			<span class="subtitle has-text-grey mt-3">Título:</span>
			<span id="titulo" class="subtitle is-5 mb-2"></span>
			<!-- mensaje -->
			<p class="subtitle has-text-grey mt-3 mb-2">Mensaje:</p>
			<p id="mensaje" class="text has-text-justified pl-5 pr-5"></p>
		</section>
		<footer class="modal-card-foot has-background-grey-lighter">
			<div class="level">
				<div class="level-right">
					<button class="button" id="modal-cancel">
						<i class="fas fa-times mr-1"></i>Cerrar
					</button>
				</div>
			</div>
		</footer>
	</div>
</div>
{% endblock %}

{% block botones %}
<div class="field">
	<div class="field is-grouped">
		<div class="control">
			<button type="button" id="update" class="button is-success is-outlined">
				<span><i class="fas fa-redo-alt"></i> Actualizar</span>
			</button>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}

<!-- Funciones Contactos -->
<script src="{% static '/panel/js/contacto/cont_fun.js' %}"></script>

{% endblock %}