{% extends 'login/base.html' %}
{% load static %}
  
{% block head %}
{% endblock %}


{% block contenido %}
<section class="section hero is-fullheight is-error-section" style="background: url({% static 'img/banner.jpg' %}) no-repeat center/cover;">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-two-fifths">
            <div class="card has-card-header-background">
              <header class="card-header">
                <p class="card-header-title ml-5">
                  <span class="title has-text-justified">Iniciar Sección</span>
                </p>
              </header>
                <div class="card-content">
                  <form method="POST" class="mb-1">
                  <input type="hidden" name="next" value="{{ next }}">
                  {% csrf_token %}
                    <div class="field">
                      <div class="control has-icons-left">
                        {{ form.username }}
                        <span class="icon is-small is-left">
                          <i class="fa fa-user has-text-primary"></i>
                        </span>
                      </div>
                    </div>
                    <div class="field">
                      <div class="control has-icons-left">
                        {{ form.password}}
                        <span class="icon is-small is-left">
                          <i class="fa fa-lock has-text-primary"></i>
                        </span>
                      </div>
                    </div>                    
                    <div class="field is-grouped mt-2 mb-1">
                        <button type="submit" class="button is-primary is-fullwidth">
                          Entrar
                          <i class="fa fa-sign-in-alt ml-2"></i>
                        </button>

                    </div>
                    <a href="{% url 'pwd_reset' %}" class="mb-0">Olvidaste la Contaseña?</a>

                  </form>
                  <div class="content has-text-centered mt-1">
                    <a href="{% url 'portada' %}" class=" is-small">
                      <img class="mt-1" src="{% static 'img/goac-logo.png' %}" id="goac-logo" width="250" height="350">
                    </a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}



{% block javascript %}
<script type="text/javascript">
      var input = document.getElementsByTagName('input');
      input.username.placeholder='Ingrese usuario';
      input.username.classList.add('input');
      input.username.autocomplete='off';
      input.username.focus='true';
      input.password.placeholder='Ingrese su contraseña';
      input.password.autocomplete='off';

      input.password.classList.add('input');
  
      {% if form.errors %}
      var errors = '';
        {% for field in form %}
            {% for error in field.errors %}
                errors += '{{ error }}\n';
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            errors += '{{ error }}\n';

        {% endfor %}

        Swal.fire({
          title: 'Error!',
          text: errors,
          icon: 'error'
        });
      {% endif %}
</script>
{% endblock %}