{% extends 'login/base.html' %}
{% load static %}

{% block contenido %}
  <section class="section hero is-fullheight is-error-section" style="background: url({% static 'img/banner.jpg' %}) no-repeat center/cover;">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-two-fifths">
            <div class="card has-card-header-background">
              <header class="card-header">
                <p class="card-header-title ml-5">
                  <span class="title has-text-justified">Restaurar Contraseña</span>
                </p>
              </header>
                <div class="card-content">
                  <form method="POST">
                  {% csrf_token %}
                    <div class="field">
                      <div class="control has-icons-left">
                        {{ form.username }}
                        <span class="icon is-small is-left">
                          <i class="fa fa-user has-text-primary"></i>
                        </span>
                      </div>
                    </div>
                    <div class="field is-grouped mt-2">
                        <button type="submit" class="button is-info is-fullwidth mr-2 is-outlined">
                          Enviar
                          <i class="fa fa-envelope ml-2"></i>
                        </button>
                      <a href="{% url 'login' %}" type="button" class="button is-success is-fullwidth is-outlined">
                        Regresar
                        <i class="fa fa-reply ml-2"></i>
                      </a>
                  </div>
                  </form>
                  <div class="content has-text-centered mt-4">
                    <a href="{% url 'portada' %}" class=" is-small">
                      <img class="" src="{% static 'img/goac-logo.png' %}" width="250" height="350">
                    </a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
  
      {% if form.errors %}
      var errors = '';
        {% for field in form %}
            {% for error in field.errors %}
                errors += '{{ error }}\n';
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            errors += '{{ error }}\n';

        {% endfor %}

        Swal.fire({
          title: 'Error!',
          text: errors,
          icon: 'error'
        });
      {% endif %}

</script>
{% endblock %}